<%- include('layout.ejs'); %>
<body>

    <div id="chat-container">
        <div id="chat-messages">
            <!-- Zone pour afficher les messages du chat -->
        </div>
        <div id="user-input">
            <input type="text" id="message-input" placeholder="Type your message...">
            <button id="send-button">Send</button>
        </div>
    </div>

    <!-- Inclure la bibliothèque Socket.IO depuis le CDN -->
    <script src="http://localhost:4111/socket.io/socket.io.js"></script>
    
    <!-- Inclure ton script JavaScript pour gérer le chat avec Socket.IO -->
    <script>
        const socket = io.connect('http://localhost:4111');

        // Récupérer les éléments DOM
        const messageContainer = document.getElementById('chat-messages'); // changer 'message-container' à 'chat-messages'
        const messageInput = document.getElementById('message-input');
        const sendButton = document.getElementById('send-button');

        // Écouter l'événement 'connection' côté client
        socket.on('connect', () => {
            console.log('Connected to server');
        });

        // Écouter l'événement 'disconnect' côté client
        socket.on('disconnect', () => {
            console.log('Disconnected from server');
        });

        // Fonction pour ajouter un message à la div de messages
        function addMessageToContainer(message) {
            const messageElement = document.createElement('div');
            messageElement.textContent = message;
            messageContainer.appendChild(messageElement);
        }

        // Fonction pour envoyer un message
        function sendMessage() {
            const message = messageInput.value;
            if (message.trim() !== '') {
                // Envoyer le message au serveur
                socket.emit('chatMessage', message);
                // Ajouter le message à la div de messages
                addMessageToContainer(`You: ${message}`);
                // Effacer le champ de saisie
                messageInput.value = '';
            }
        }

        // Associer la fonction sendMessage à l'événement click du bouton
        sendButton.addEventListener('click', sendMessage);

        // Gérer les messages reçus du serveur
        socket.on('chatMessage', (message) => {
            // Ajouter le message à la div de messages
            addMessageToContainer(`Server: ${message}`);
        });
    </script>
</body>
</html>
