<%- include('layout.ejs'); %>
<div class="container welcome-container">
    <div class="welcome-section">
        <h1>Bienvenu sur Chat'heure</h1>
    </div>
    <div class="login-register">
        <a href="/login" class="btn btn-primary btn-lg custom-btn">Login</a>
        <a href="/register" class="btn btn-secondary btn-lg custom-btn">Register</a>
    </div>
</div>
